
.floating-tdm{
    position: fixed;
    left: 0;
    /* Shape and Color */
    background-color: rgba(255, 255, 255, 0.6);
    width: 200px;
    padding-block: 20px;
    margin-left: 1%;
}
.floating-tdm ol {
    list-style: none;
}
.floating-tdm li {
}